.container-posts {
    width: 60%; 
    max-width: 1200px; 
    margin: 0 auto;
    padding: 80 24px;
    padding-top: 100px;

}

.content-posts {
    margin: 0 auto; 
    text-align: center; 
    margin-left: 100px; 
    padding-bottom: 300px;

}

.title {
    padding-bottom: 100px;
    padding-top: 50px;

}


/*文章列表*/
.article-list {
    display: flex;
    flex-wrap: wrap;
}

.article {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.thumbnail {
    flex: 0 0 30%; 
    margin-right: 20px;
}

.thumbnail img {
    width: 100%;
    height: auto;
}

.description {
    flex: 1; 
}

.description h2 {
    font-size: 18px;
    margin-top: 0;
}

.description p {
    margin-top: 5px;
    font-size: 14px;
}

.description a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: green;
    font-weight: bold;
}
